#results{
	border-style: ridge;
	border-width: 5px;
	border-color: black;
	padding: 5px;
	align-content: center;
}
#textbox{
	border-style: ridge;
	border-width: 5px;
	border-color: black;
	padding: 5px;
	align-content: center;
}