<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href={{url_for('static',filename="index.css")}}>
    </head>
    <body>
        <div id="textbox">
            {{ something }}
             <form>
                <label for="fname">Disease Name:</label><br>
                <input type="text" id="fname" name="fname"><br>
            </form> 
        </div>
        <div id="results">
            <span>
                Results go here.
            </span>
        </div>

        <script src={{url_for('static',filename="index.css")}}></script>
    </body>
</html>